@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    &,
    &.light-mode {
      --background-app-rgb: 255, 255, 255;
      --color-primary-900: 40, 20, 110;
      --color-primary-800: 75, 50, 200;
      --color-primary-700: 95, 65, 225;
      --color-primary-600: 115, 85, 245;
      --color-primary-500: 130, 95, 255;
      --color-primary-400: 150, 120, 255;
      --color-primary-300: 175, 150, 255;
      --color-primary-200: 210, 190, 255;
      --color-primary-100: 240, 230, 255;

      --color-secondary-900: 17, 24, 39;
      --color-secondary-800: 31, 41, 55;
      --color-secondary-700: 55, 65, 81;
      --color-secondary-600: 75, 85, 99;
      --color-secondary-500: 107, 114, 128;
      --color-secondary-400: 156, 163, 175;
      --color-secondary-300: 209, 213, 219;
      --color-secondary-200: 229, 231, 235;
      --color-secondary-100: 243, 244, 246;
      --color-secondary-0: 255, 255, 255;

      --color-warning: 255, 153, 0;
      --color-success: 16, 185, 129; /* green-500 */
      --color-error: 239, 68, 68; /* red-500 */
    }
    &.dark-mode {
      --background-app-rgb: 15, 23, 42;

      --color-primary-900: 240, 230, 255;
      --color-primary-800: 210, 190, 255;
      --color-primary-700: 175, 150, 255;
      --color-primary-600: 150, 120, 255;
      --color-primary-500: 130, 95, 255;
      --color-primary-400: 115, 85, 245;
      --color-primary-300: 95, 65, 225;
      --color-primary-200: 75, 50, 200;
      --color-primary-100: 40, 20, 110;

      --color-secondary-900: 255, 255, 255;
      --color-secondary-800: 243, 244, 246;
      --color-secondary-700: 229, 231, 235;
      --color-secondary-600: 209, 213, 219;
      --color-secondary-500: 156, 163, 175;
      --color-secondary-400: 107, 114, 128;
      --color-secondary-300: 75, 85, 99;
      --color-secondary-200: 55, 65, 81;
      --color-secondary-100: 31, 41, 55;
      --color-secondary-0: 17, 24, 39;

      --color-warning: 252, 211, 77;
      --color-success: 34, 197, 94;
      --color-error: 248, 113, 113;
    }
  }

  body {
    margin: 0;
    min-height: 100vh;
    background-color: rgb(var(--color-secondary-100));
  }

  input,
  textarea,
  select {
    background-color: rgb(var(--color-secondary-100));
    width: 100%;
    border: 1px solid rgb(var(--color-secondary-200));
    padding: 0.75rem;
    border-radius: 0.5rem;
    outline: none;
    transition: box-shadow 0.2s ease, border-color 0.2s ease;
  }
  input:focus,
  textarea:focus,
  select:focus {
    outline: none;
    box-shadow: 0 0 0 2px var(--color-primary-300);
  }

  label {
    font-size: 0.875rem;
    color: rgb(var(--color-secondary-600));
    margin-bottom: 0.5rem;
  }
}

@layer components {
  .container {
    @apply max-w-[1280px] mx-auto p-8;
  }
  .btn {
    @apply px-3 py-1 rounded-xl transition-all duration-300;
  }
  .btn--primary {
    @apply bg-primary-600 text-secondary-100 hover:bg-primary-700 shadow-md shadow-primary-100;
  }
  .dark-mode .btn--primary {
    @apply bg-primary-400 text-secondary-800 hover:bg-primary-700 shadow-md shadow-primary-100;
  }
  .btn--secondary {
    @apply bg-secondary-600 text-secondary-100 hover:bg-primary-700 shadow-md shadow-secondary-300;
  }
}
